.editor {
  max-width: 800px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 10px;
}
.float-menu {
  position: absolute;
  display: none;
  top: -999px;
  left: -999px;
  column-gap: 8px;
  background-color: white;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 5px;
}

.float-menu.show {
  display: flex;
}

.menu-item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: auto;
  user-select: none;
}
.menu-item:hover {
  background-color: lightgrey;
}

.translateArea{
  max-width: 820px;
  height: 300px;
  border: 1px solid rgb(130, 198, 223);
  border-radius: 5px;
  margin-top: 20px;
}
