body {
    background-color: #eee;
    overflow-x: hidden;
}

.root {
    max-width: 800px;
    margin: auto;
}

.editor {
    border-radius: 15px;
    padding: 25px;
    padding-bottom: 60px;
    /* text-align: justify; */
    line-height: 25px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: none;
    margin-top: 80px;
}

.float-menu{
    position: absolute;
    display: none;
    top: -999px;
    left: -999px;
    column-gap: 8px;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 5px;
}

.show {
    display: flex;
}

.menu-item {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: auto;
    user-select: none;
    cursor: pointer;
}

.menu-item:hover {
    background-color: lightgrey;
}




.disabled {
    pointer-events: none;
}

::selection {
    background-color: rgb(220, 234, 255);
}

.disabledBgc {
    color: #ccc;
    /* background-color: rgb(243, 243, 243) */
}

.bold_font {
    font-weight: bold;
}

.italic_font {
    font-style: italic;
}

.underline_font {
    text-decoration: underline;
}

.linethrough_font {
    text-decoration: line-through;
}

.color_font {
    color: red;
}

.bg_font {
    background-color: yellow;
}

.addBgc {
    background-color: lightgrey;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 7px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    padding: 8px 15px;
    font-size: 17px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #409EFF;
    white-space: nowrap;
    cursor: pointer;
}

.save:hover {
    background-color: rgb(121, 187, 255);
}

.save:active {
    background-color: rgb(51, 126, 204);
}

.navFloat-menu {
    position: static;
    border: none;
    box-shadow: none;
}

.columnshow {
    display: block;
}

.translateArea {
    visibility: hidden;
    width: 350px;
    height: calc(100vh - 62px);
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
}

.drawerHide {
    transform: translateX(100%);
}

.drawerShow{
    transform: translateX(0);
}

.box-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #aaa;
}

.closeDrawer {
    cursor: pointer;
    font-size: 18px;
}